body {
  font-family: sans-serif;
  width: 900px;
}

table td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#table {
  margin-top: 55px;
  border-collapse: collapse;
  clear: both;
}

#table > tr:nth-child(even) {
  background-color: #eee;
}

#table > tr > th, #table > tr >  td {
  border: 1px solid #aaa;
  text-align: center;
  vertical-align: middle;
}

.disclaimer {
  background-color: #fcc;
  border-radius: 6px;
  text-align: center;
}

.form td {
    vertical-align: top;
}

#main-form {
    float: left;
}
#app{
    margin-top: 40px;
}

.result-table {
    margin-top: 40px;
}

#result-details {
  float: right;
  border: 1px solid #aaa;
  border-radius: 6px;
}

.details-hidden {
    display: none;
}

.details-visible {
    display: block;
}

.error-hidden {
    display: none:
}

.error-visible {
    display: block;
}

.error {
    color: red;
}

 /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -105px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 
